<head>
    <style>
        body,
        html {
            font-family: "Henny Penny", cursive;
            color: #274dff;
        }

        h1 {
            margin: auto;
            letter-spacing: 0.0015em;
            font-size: 5em;
            text-shadow: 0 1px #8da1ff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff, -2px 3px #8da1ff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff, -4px 5px #8da1ff, -5px 4px #c0cbff, -5px 6px #8da1ff, -6px 5px #c0cbff, -6px 7px #8da1ff, -7px 6px #c0cbff, -7px 8px #8da1ff, -8px 7px #c0cbff;
            text-align: center;
            color: blue;
        }

    </style>
</head>
<body style="background-image: url('https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1600%27);background-size:100% 100%">
    <header>
        <!-- Intro settings -->
        <!-- Background image -->
        <div id="intro-example" class="p-5 text-center bg-image" style="background-size:cover">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);height:200px">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3 units">Privacy Policy</h1>
                        <h5 class="mb-4">
                            for more happiness
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- Background image -->
    </header>

</body>
